header {
    background-color: #f0f0f0;
    /* Light gray background */
    padding: 20px;
    text-align: center;
    /* Center the navigation links */
}

nav ul {
    list-style-type: none;
    /* Remove default bullets */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

nav li {
    display: inline-block;
    /* Display links side-by-side */
    margin-right: 70px;
    /* Add spacing between links */
}

nav a {
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Dark gray text color */
}

.main {
    height: 750px;
    width: 1412px;
    position: relative;
    border: 1px splid rgb(221, 191, 251);
    background-color: skyblue;
   


}

#box {
    height: 750px;
    width: 1400px;
    position: absolute;
}

#box1 {
    color: black;
    font-style: italic;
    position: absolute;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 100px;

}

#para {
    position: absolute;
    color: black;
    font-style: italic;
    margin-top: 250px;
    margin-left: 70px;
    font-size: 50px;

}

.box2 {
    height: 750px;
    width: 1412px;
    position: relative;

}

#pic {
    height: 750px;
    width: 1412px;

}

#id {
    height: 500px;
    width: 500px;

}

#box3 {
    height: 650px;
    width: 1100px;
    position: absolute;
    border: 1px solid;
    background-color: aliceblue;
    margin-top: -700px;
    margin-left: 150px;

}

#para1 {
    text-align: center;
    color: black;
    font-size: xx-large;
}

#para2 {
    color: lightslategray black;
    font-size: xx-large;
    text-align: center;
}

#para3 {
    font-size: x-large;
    margin-left: 10%;
}

#para4 {
    font-size: x-large;
    margin-left: 10%;
    margin-left: 600px;
    margin-top: -210px;
}

#para5 {
    text-align: center;
    font-size: larger;
}

.box4 {
   border: 1px solid white;
    height: 500px;
    width: 1412px;
    background-image: url(images/Marble-Desktop-Wallpaper.jpg);
}

#para6 {
    height: 150px;
    width: 400px;
    border: 1px solid;
    margin-left: 40%;
    text-align: center;
    
}

#para7 {
    height: 150px;
    width: 400px;
    border: 1px solid;
    margin-left: 70%;
    margin-top: -343px;
    text-align: center;
}

#para8 {
    height: 150px;
    width: 400px;
    border: 1px solid;
    margin-left: 70%;
    margin-top: -3px;
    text-align: center;
}

#para9 {
    height: 310px;
    width: 450px;
    border: 1px solid;
    margin-left: 5%;
    margin-top: -330px;
    background-image: url(images/laptop\ with\ hands.jpg);
}
#para0{
    font-size: medium;
}
.box5{
    border: 1px solid;
    height: 200px;
    width: 1412px;
    background-color: rgba(42, 22, 67, 0.715);
    text-align: center;
}
#pic1{
    height: 40px;
    width: 40px;
    margin-left: 30px;
    text-align: center;
    margin-top: 50px;
}
#para10{
    color: aliceblue;
    font-size: 30px;
}
#para11{
    margin-top: -10px;
    margin-left: 84%;
    
}

